.main-subscribe__img {
  background-image: url("../images/plan/desktop/image-hero-blackcup.jpg");
  background-repeat: no-repeat;
  width: 1280px;
  height: 450px;
  border-radius: 15px;
  background-size: cover;
  margin-bottom: 120px;
}

.main-subscribe__title {
  width: 450px;
  margin-left: 86px;
  padding-top: 60px;
}
.main-subscribe__title-text {
  color: #fefcf7;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}
.main-subscribe__title-description {
  color: #fefcf7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
  margin-top: -20px;
  padding-bottom: 56px;
}
.main-work-subscribe {

}
.maiin-work-subscribe__title {
  color: var(--Grey);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  padding-bottom: 80px;
}
.line {
  margin-bottom: 67px;
}
.line-span {
}
.main-work-subscribe__list {
  display: flex;
  width: 1280px;
  gap: 80px;
  margin-bottom: 70px;
}
.main-work-subscribe__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.main-work-subscribe__item-title {
  color: var(--Pale-Orange);
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}
.main-work-subscribe__item-description {
  color: #fff;

  font-size: 32px;

  font-weight: 900;
  line-height: 36px;
  width: 255px;
}
.main-work-subscribe__item-text {
  color: #FEFCF7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 285px;
}
.main-work-subscribe__content {
  padding-left: 145px;
  margin-bottom: 50px;
  height: 600px;
  padding-top: 50px;
  /* order-radius: 15px; */
}
.main-work-subscribe__content-bg {
  background-color: var(--Dark-rey-Blue);
  width: 1280px;
}
